body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: rgb(0, 0, 0, 0.3);
}

img {
    height: auto;
    width: 240px;
    border-radius: 25px;
}


.main,
.container {
    width: 45%;
    padding: 5px;
    margin: 50px auto;
    box-sizing: border-box;
    background-color: rgb(137, 207, 240, 0.5);
    border: 5px solid rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    display: block;
}

.main h1 {
    text-align: center;
    margin: 20px 50px;
    padding: 5px;
    border-radius: 25px;
}

.main .image {
    display: inline-block;
    margin-left: 30%;
    border: 5px solid rgb(0, 0, 0, 0.5);
}

.main .options {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 20px 30px;
    padding: 5px;
    border-radius: 25px;
    border: 5px solid rgb(0, 0, 0, 0.5);
}

.main .desc {
    text-align: center;
    padding: 30px;
    margin: -30px auto;
}

.main .desc p {
    text-align: justify;
}

.options h3 {
    text-align: center;
}

.options .lists {
    color: black;
}

.options li {
    display: inline-block;
    margin: 5px;
}

.options a {
  text-decoration: none;
  border-radius: 25px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .40rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.options a:visited {
    color: black;
}

.options a:hover {
    border-radius: 25px;
    box-shadow: inset 200px 0 0 0 rgb(137, 207, 240);
    color: rgb(255, 255, 255, 0.9);
    padding: 0 .25rem;
    border: 2.5px solid rgb(0, 0, 0, 0.5);
}

.main .back a {
    padding: 10px;
    padding-right: 51px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 85%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: inset 0 0 0 0 #54b3d6;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    display: block;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.main .back a:visited {
    color: black;
}

.main .back a:hover {
    border-radius: 25px;
    box-shadow: inset 200px 0 0 0 rgb(137, 207, 240);
    color: rgb(255, 255, 255, 0.9);
    padding: 9.5px;
    padding-right: 51px;
    border: 2.5px solid rgb(0, 0, 0, 0.5);
}